@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

.Header {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
}

.Header h1 {
  margin: 0;
}

.Header .attribution {
  margin: 0;
}

@media only screen and (max-width: 320px) {
  .Header {
    flex-direction: column;
  }
}
