.Result {
  background-color: #16191d;
  border: 1px solid #2f3336;
  margin: 5px;
  padding: 10px;
  width: 45%;
}

.Result img {
  width: 100%;
  align-self: center;
}

.giphyLink {
  float: right;
}

@media only screen and (max-width: 768px) {
  .Result {
    width: 90%;
  }
}
