.SearchForm {
  padding: 15px;
}

.searchBar {
  display: flex;
}

#searchInput {
  flex: 1;
  height: 25px;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
}

.SearchForm button {
  border: none;
  background-color: #145a4f;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 15px;
}

.SearchForm button:hover {
  background-color: #1a7567;
  cursor: pointer;
}

.SearchForm input {
  font-size: 100%;
  padding: 10px;
}
