body {
  background-color: black;
  color: #d9d9d9;
}

.App {
  border: 1px solid gray;
  width: 75%;
  margin: 15px auto;
}

a {
  text-decoration: none;
  color: #28b39d;
  font-weight: bold;
}

a:visited {
  color: #28b39d;
}
