body {
  background-color: black;
  color: #d9d9d9;
}

.App {
  border: 1px solid #2f3336;
  max-width: 950px;
  margin: 15px auto;
}

a {
  text-decoration: none;
  color: #28b39d;
  font-weight: bold;
}

a:visited {
  color: #28b39d;
}

@media only screen and (max-width: 768px) {
  .App {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1000px) {
  .App {
    max-width: 850px;
  }
}
